$bg-color: #133E87;
$font: Arial;
$heading-color: #d8d8ba;
$heading-hover: #608BC1;
$button-color: #d8d8ba;

@mixin important-content{
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin-top: 270px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: $bg-color;
   font-family: $font;
}

#container{
    @include important-content;

    h1{
        color: $heading-color;
        font-size: 45px;
        margin-bottom: 30px;

    &:hover{
        color: $heading-hover;
    }
   }

    p{
        color: $heading-color;
        font-size: 18px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    p:hover{
        color: $heading-hover;
    }

    button{
        width: 100px;
        height: 45px;
        border-radius: 10px;
        border: none;
        margin-top: 40px;
        font-size: 17px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: $button-color;
        color: #4469ab;
    }
    button a{
        text-decoration: none;
        color: rgb(56, 91, 179);
    }
    button:hover{
        background-color: transparent;
        border: 1px solid #d8d8ba;
        color: white;
    }
}
